# Test this action by running it from the same repo (uses: ./.)
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./
        id: apt-bundle

      - name: Verify install
        run: |
          curl --version
          jq --version
